.header{
  background: url("../img/back2.png")no-repeat left / cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  .test {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #4D5968;
    font-size: 35px;
    padding: 20px 15px 20px 0;
  }
  .text{
    padding-left: 10px;
  }

  .img{
    margin-left: 35px;
    width: 75px;
    height: 75px;
  }
}

// Head End //

.content{
  background: url("../img/back3.png")no-repeat left / cover;
  height: 100vh;
  padding: 20px 30px 20px 30px;
  .card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2F3844;
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 0 0;

  }
  .contentText{
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 15px;
  }
  .plus{
    margin-left: auto;
    margin-right: 10px;
  }
  .cardBack{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: #293039;
    border-radius:  0 0 10px 10px;
    padding: 15px 20px 15px 20px;
    .cardBackText{
      font-size: 20px;
      color: #4D5968;
      margin-left: 15px;
    }
    .cardBackImg{
      width: 20px;
      height: 20px;
      margin-right: 20px;
      margin-left: auto;
    }
  }
  .cardBack td {
    margin-left: 150px;
  }
}