.wrapper{
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .2);
  backdrop-filter: blur(5px);

  .img{
    display: block;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
  }
  .modal {
    margin: 7% auto;
    max-width: 500px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
  }
  .modal::-webkit-scrollbar{
    width: 0;
    background: transparent;
  }
  .components{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card{
    position: relative;
    margin: 30px 0 10px 0;

  }
  .card input {
    display: block;
    width: 250px;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #6188D2;
    transition: all 0.2s ease;
  }
  .card label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
  }
  .card input:focus {
    outline: 0;
    border-color: #836FBF;
  }
  .card input:focus+label, .card input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #836FBF;
    color: #836FBF;
  }
  .components p {
    margin: 0;
    padding-top: 10px;
  }
  .btn{
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #6188D2;
    border-width: 0;
    color: white;
    font-size: 20px;
  }
}
