.wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, .2);
    backdrop-filter: blur(10px);
    margin-left: -20%;
}
.wrapper.open{
    height: 100%;
    display: block;
}
.wrapper.close{
    height: 0;
    display: none;
}
.content{
    min-width: 150px;
    margin: 5% 30% 0 30%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    max-height: 600px;
}
.content::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.close{
    display: flex;
    justify-content: flex-end;
}
.closeImg{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.content h2{
    text-align: left;
    width: 100%;
    margin: 0;
}