.main {
  display: flex;
}


.offer {
  margin-top: 100px;

  p {
    font-size: 36px;
    font-weight: bold;
  }
}

.img {
  width: 700px;
  height: 700px;
}

.typography {
  margin-top: 50px;

  p {
    font-size: 25px;
    font-weight: normal;
  }
}

.but {
  margin-top: 50px;
}

.reg {
  text-decoration: none;
  color: white;
  padding: 25px 70px 25px 70px;
  background: linear-gradient(93.19deg, #E863D2 3.52%, rgba(232, 99, 210, 0.729167) 106.07%, rgba(232, 99, 210, 0.729167) 106.09%, rgba(232, 99, 210, 0) 115.4%);
  border-radius: 15px;
}
