.content{
    display: grid;
    grid-template-areas: "gridText gridImg";
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}
.gridText{
    grid-area: gridText;
    z-index: 2;
}
.gridImg{
    grid-area: gridImg;
    z-index: 1;
    width: 100%;

}
.title{
    display: flex;
    flex-direction: column;
    margin: 20% 0 0 20px;
    font-weight: bold;
    font-size: 36px;
}
.typography{
    display: flex;
    margin: 25px 0 0 20px;
    font-size: 25px;

}
.but{
    display: flex;
    margin: 25px 0 0 20px;
}
.reg{
    text-decoration: none;
    color: white;
    padding: 25px 70px 25px 70px;
    background: linear-gradient(93.19deg, #E863D2 3.52%, rgba(232, 99, 210, 0.729167) 106.07%, rgba(232, 99, 210, 0.729167) 106.09%, rgba(232, 99, 210, 0) 115.4%);
    border-radius: 15px;
    position: absolute;
}