.profile {
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../img/back3.png") no-repeat left / cover;
  overflow: auto;
}

.profileHead {
  background: url("../img/back2.png") no-repeat left / cover;
  display: flex;
  padding: 7px;
  align-items: center;
}

.profileImg {
  width: 75px;
}

.profileName {
  font-size: 2rem;
  color: #FFFFFF;
  margin-left: 10px;
}

.profileEdit {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
}

.profileImgBtn {
  margin-left: 5px;
}

.profileContent {

  padding: 3%;
}

.image {
  width: 35px;
  filter: brightness(0) invert(1);
  margin-right: 25px;
}

.fields {
  background-color: #2F3844;
  padding: 20px 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: #FFFFFF;
  border-bottom: 2px white solid;
}

.fields:first-child {
  border-radius: 10px 10px 0 0;
}

.fields:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}
