.nav {
  background-color: #2F3844;
  display: flex;
  height: calc(100vh - 100px);
  width: 35%;
  flex-direction: column;
  font-size: calc(12px + 5 * (100vw / 1000));

  .test {
    text-decoration: none;
    color: #4D5968;
    padding: 10% 0;
  }

  .test:hover {
    color: white;
    background-color: #293039;
    .img {
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(315deg) brightness(110%) contrast(101%);
    }
  }

  .activeLink {
    color: white;
    background-color: #293039;
    .img {
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(315deg) brightness(110%) contrast(101%);
    }
  }

  .img {
    filter: invert(31%) sepia(29%) saturate(352%) hue-rotate(173deg) brightness(95%) contrast(82%);
    width: 7%;
    margin-right: 10px;
    margin-left: 20px;
  }
}


