.navBar {
  .nav {
    background-color: #2F3844;
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: column;
    font-size: calc(12px + 5 * (100vw / 1000));
    width: 300px;

    .test {
      text-decoration: none;
      color: #4D5968;
      padding: 24px 0 25px 0;
    }

    .test:hover {
      color: white;
      background-color: #293039;

      .img {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(315deg) brightness(110%) contrast(101%);
      }
    }

    .activeLink {
      color: white;
      background-color: #293039;

      .img {
        filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(315deg) brightness(110%) contrast(101%);
      }
    }

    .img {
      filter: invert(31%) sepia(29%) saturate(352%) hue-rotate(173deg) brightness(95%) contrast(82%);
      width: 7%;
      margin-right: 10px;
      margin-left: 20px;
    }
  }
}

.loading {
  position: absolute;
  margin-top: 20%;
  margin-left: 35%;
}



@media only screen and (max-width: 600px) {
  .navBar {
    display: flex;
    margin-left: 18px;
    .nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 70px;
      width: 340px;
      .test {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #4D5968;
        padding: 14px 5px 13px 5px;
        font-size: 12px;

      }
      .img {
        width: 25px;
        height: 25px;
        margin: 0 10px 0 10px;
      }

      .activeLink {
        color: white;
        background-color: #293039;

        .img {
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(315deg) brightness(110%) contrast(101%);
        }
      }
    }
  }

}

