.status {
  display: inline-block;
  color: #0B0B0C;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 7px;
    left: -13px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #d3d3d3;
  }

  &--online {
    &::before {
      background-color: #00c980;
    }
  }
}
.chat__dialog-header {
  padding: 17px 20px 17px 20px;
  border-bottom: 1px solid #2F3844;
  margin-bottom: 10px;
  &-center {
    text-align: center;
  }
  &-fullName {
    font-size: 18px;
    font-weight: 500;
  }

  button {
    border: 0;
    background: transparent;
    cursor: pointer;
    opacity: .6;
    transition: opacity .15s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
