.messages {
  height: 100%;
  padding-bottom: 0;
  overflow: auto;
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .messages {
    height: calc(100vh - 104px);
  }
}
