.main{
  display: grid;
  grid-template-areas: "Nav Content";
  grid-template-columns: 1.5fr 6fr;

  .Nav {
    grid-area: Nav;

  }
  .Content {
    grid-area: Content;
  }
}
.chat {
  display: flex;
  flex-direction: column;
}