.main {
  background: url("./Components/Content/img/back.png") no-repeat left / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  width: 1200px;
}

.navContent {
  height: 100vh;
  display: flex;
  width: 1200px;
  align-items: stretch;
}

.nav {
  width: 30%;
}

.content {
  overflow: auto;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .main {
    background: url("./Components/Content/img/back.png") no-repeat left / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .header {
    width: 350px;
  }

  .navContent {
    display: flex;
    width: 393px;
    align-items: stretch;
  }

}
