
html {
    min-height: 100% !important;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

table {
    border-collapse: separate !important;
}

